<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="description" content="Privacy focused open source tools.  We strive to offer high quality open source replacements to popular cloud apps and services">
  <meta charset="UTF-8" />
  <meta name="keywords" content="JavaScript,NodeJS,AdonisJS,OpenSource,Password Manager,URL Shortener,Self Destructing Messages">
  <meta name="author" content="Mike Conrad">
  <title>The OpenSuite - Simple. Free. Open Source, privacy focused tools built in NodeJS.</title>
  <script async defer data-domain="theopensuite.com" src="https://plausible.io/js/plausible.js"></script>
  {{ style('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css') }}
  {{ style('css/main') }}
  {{ style('chatype') }}
  <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">

</head>
<body>
