<div class="hero-overlay"></div>
<div class="hero">
  <h1 class="hero-heading">
    The Open Suite
  </h1>
  <br>
  <p class="pretext text-center pt-3 mt-3">Useful. quality. simple</p>
  <h3 class="text-center">Open Source alternatives to <br><strong>privacy</strong> invading services</h3>
</div>