<div class="hero-overlay"></div>
<div class="hero">
  <h1 class="hero-heading">
    The Open Suite
  </h1>
  <br>
  <p class="pretext text-center pt-3 mt-3">Useful. quality. simple</p>
  <span class="text-center heading-small d-flex align-items-center justify-content-center">Open Source alternatives to </span><span class="text-center heading-small d-flex align-items-center justify-content-center"><strong>privacy&nbsp</strong> invading services</span>
</div>